<section class="order-success" id="order-success">
  <div class="container pt-5 py-lg-1">
      <div class="content text-center">
        <img src="assets/images/tikecktImages/payment-success.png" alt="ticketat order success">
        <h2 class="m-0">Payment Successful</h2>
        <p class="m-0 my-3"> Your payment has been completed successfully.<br> Please check your email to receive your QR code.</p>
        <a href="/home" class="btn main-btn">Back to Home</a>
      </div>
  </div>
</section>
