<section class="checkout" id="checkout">
  <div class="container-fluid">
    <div class="rounded-3 p-3 shadow-lg">
      <div class="row g-2">
        <div class="col-12">
          <div class="image-event">
            <img [src]="eventData?.imageUrl || 'assets/images/tikecktImages/event-image/grad-cover-tikcket.png'" class="rounded-3" [alt]="eventData?.name">
          </div>
        </div>

        <div class="col-md-7" [ngClass]="{
          'col-md-7' : show,
          'col-md-12' : !show,
        }">
          <h1 class="fw-bold mt-3">Checkout Event</h1>
          @if(eventData.type != 'FunDayEvent'){
            <div class="text-right" dir="rtl">
              <h4>كل حجز يشمل طالبًا واحدًا مع مرافقين اثنين.</h4>
              <h5>يمكن إضافة مرافقين إضافيين عند الحاجة، مع العلم أنه يتم احتساب تكلفة لكل مرافق إضافي.</h5>
            </div>
          }

          <ul class="nav nav-tabs justify-content-center align-items-center" id="ticketTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="full-ticket-tab" data-bs-toggle="tab" data-bs-target="#full-ticket"
                type="button" role="tab" aria-controls="full-ticket" aria-selected="true">
                Book Ticket
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="extra-services-tab" data-bs-toggle="tab" data-bs-target="#extra-services"
                type="button" role="tab" aria-controls="extra-services" aria-selected="false">
                Add Companions
              </button>
            </li>
          </ul>

          <div class="tab-content mt-3" id="ticketTabContent">
            <!-- تاب الحجز الكامل -->
            <div class="tab-pane fade show active" id="full-ticket" role="tabpanel" aria-labelledby="full-ticket-tab">
              <form class="d-flex flex-column gap-2 p-3 shadow-lg border rounded-3" [formGroup]="checkoutForm">
                <h3>Book Ticket</h3>
                @if(eventData.type != 'FunDayEvent'){
                  <div class="photo">
                    <label for="photo" class="form-label">Photo</label>
                    <input
                      class="form-control"
                      type="file"
                      id="Photo"
                      accept="image/*"
                      (change)="onPhotoChange($event)"
                    >

                    @if (photoPreview) {
                      <!-- Preview -->
                      <img
                        [src]="photoPreview"
                        alt="preview"
                        style="width:200px; margin-top:10px"
                      />
                    }
                  </div>
                }

                <div class="FullName">
                  <label for="FullName" class="form-label">Full Name</label>
                  <input class="form-control" formControlName="FullName" type="text" name="FullName" id="FullName" placeholder="Enter Your Full Name...">
                </div>

                <div class="Phone">
                  <label for="Phone" class="form-label">Phone</label>
                  <input class="form-control" formControlName="Phone" type="tel" name="Phone" id="Phone" placeholder="Enter Your Phone...">
                </div>

                <div class="Email">
                  <label for="Email" class="form-label">Email</label>
                  <input class="form-control" formControlName="Email" type="Email" name="Email" id="Email" placeholder="Enter Your Email...">
                </div>

                <div class="VisitorCount">
                  <label for="VisitorCount" class="form-label">Companion <sub>Option</sub></label>
                  <input class="form-control" formControlName="VisitorCount" type="number" name="VisitorCount" id="VisitorCount" placeholder="Enter Your Visitor Count...">
                </div>

                <div class="text-center">
                  <button class="btn main-btn" (click)="viewCheckOutData()"> Checkout </button>
                </div>
              </form>
            </div>

            <!-- تاب المرافق الإضافية -->
            <div class="tab-pane fade" id="extra-services" role="tabpanel" aria-labelledby="extra-services-tab">
              <form class="d-flex flex-column gap-2 p-3 shadow-lg border rounded-3" [formGroup]="checkoutForm">
                <h3>Add Companions</h3>

                <div class="mb-3">
                  <label for="companion" class="form-label">Phone No.</label>
                  <select #phoneSelect class="form-control" >
                    <option value="">Phone No.</option>
                    @for (phone of phones; track $index) {
                      <option [value]="phone">{{phone}}</option>
                    }
                  </select>
                </div>

                <!-- <div class="companion">
                  <h4>Name: Mohamed Said</h4>
                </div> -->


                <div class="companion">
                  <label for="companion" class="form-label">Number of Companions</label>
                  <input class="form-control" formControlName="companion" type="number" name="companion" id="companion" placeholder="Enter Number of Companions...">
                </div>

                <div class="text-center">
                  <button class="btn main-btn"> Add Companions </button>
                </div>
              </form>
            </div>
          </div>

          <!-- @if(eventType == 'GraduationParty'){
            <div class="seat-numbers py-4 overflow-auto shadow-lg border rounded-3 p-3 my-3">
            <div class="stage-wrapper text-center mb-4">
              <div class="stage">
                🎭 Stage
              </div>
            </div>
            @for (cat of categories; track $index) {
              <div class="my-4">
                @for (row of cat.rows; track $index) {
                  <div class="row-line">

                    <div class="blocks">
                      @for (block of row.blocks; track $index) {
                        <div class="block">
                          @for (seat of block.seats; track $index) {
                            <div
                              class="seat"
                              [ngClass]="seat.status"
                              (click)="toggleSeat(seat)"
                            >
                              {{row.name}}{{seat.number}}
                            </div>
                          }
                        </div>
                      }


                    </div>

                  </div>
                }
              </div>
            }
            </div>
          } -->


        </div>

        @if(show){
          <div class="col-md-5">
            <div class="summary p-3 shadow-lg border rounded-3 h-100 text-center">
              <img src="assets/images/tikecktImages/logos/app-icon.png" class="ticketat-logo text-center" alt="ticketat">

              <div class="d-flex flex-column align-items-start g-0 justify-content-between border p-3 mt-4">
                <p> Name : <span class="main-color fw-medium">{{ checkoutData?.FullName}}</span></p>
                <p> Phone : <span class="main-color fw-medium">{{ checkoutData?.Phone}}</span></p>
                <p> Email : <span class="main-color fw-medium">{{ checkoutData?.Email}}</span></p>
                <p> companions : <span class="main-color fw-medium">{{ checkoutData?.VisitorCount}} Companion(s)</span></p>
                <p> Ticket Price : <span class="main-color fw-medium">{{ eventData?.price | number}} EGP</span></p>
                <p> companion Price : <span class="main-color fw-medium">{{ eventData?.visitorFee | number}} EGP</span> </p>
                <div class="border border-2 shadow-sm w-100 p-2 mb-2 text-start rounded-3">
                  <p class="m-0 mb-1"> SubTotal: <span class="main-color fw-bold">{{ subTotal | number }} EGP</span> </p>
                  @if(eventData.type != 'FunDayEvent'){
                    <p class="m-0 pb-2 border-bottom"> Tax: <span class="main-color fw-bold"> {{ tax }} EGP </span></p>
                  }
                  <p class="m-0 mt-2 text-center fs-4"> Total: <span class="main-color fw-bold">{{ total | number }} EGP</span> </p>
                </div>

                <div class="text-center w-100">
                  <button class="btn main-btn w-100" (click)="submitCheckout()"> Confirm </button>
                </div>
              </div>
            </div>
          </div>
        }


      </div>
    </div>
  </div>
</section>
