<section class="checkout" id="checkout">
  <div class="container-fluid">
    <div class="rounded-3 p-3 shadow-lg">
      <div class="row g-2">
        <div class="col-12">
          <div class="image-event">
            <img [src]="eventData?.Image || 'assets/images/tikecktImages/event-image/Graduation-Tickets.jpg'" class="rounded-3" [alt]="eventData?.EventName">
          </div>
        </div>

        <div class="col-12">
          <ul class="nav nav-tabs justify-content-center align-items-center" id="ticketTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="full-ticket-tab" data-bs-toggle="tab" data-bs-target="#full-ticket"
                type="button" role="tab" aria-controls="full-ticket" aria-selected="true">
                Book Ticket
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="extra-services-tab" data-bs-toggle="tab" data-bs-target="#extra-services"
                type="button" role="tab" aria-controls="extra-services" aria-selected="false">
                Add Companions
              </button>
            </li>
          </ul>

          <div class="tab-content py-0" id="ticketTabContent">
            <div class="tab-pane fade show active" id="full-ticket" role="tabpanel" aria-labelledby="full-ticket-tab">
              <form class="d-flex flex-column gap-2 p-3 shadow border rounded-3" [formGroup]="checkoutForm">
                <h1 class="fw-bold m-0">Checkout Event</h1>

                @if(eventData.type != 'FunDayEvent'){
                  <div class="border-bottom pb-2 note">
                    <p class="m-0 mb-1">- Each reservation includes (1 student) and (2 accompanying guests).</p>
                    <p class="m-0 mb-1">- Additional guests can be added if needed, noting that an extra fee will be charged for each additional guest.</p>
                  </div>

                  <div class="photo">
                    <label for="photo" class="form-label">Photo</label>

                    <input
                      class="form-control"
                      type="file"
                      id="Photo"
                      accept="image/*"
                      (change)="onImageChange($event)"
                    >

                    @if (photoPreview) {
                      <div class="text-center text-md-start">
                        <img
                          loading="lazy"
                          [src]="photoPreview"
                          alt="preview"
                          style="width:200px; margin-top:10px"
                        />
                      </div>
                    }
                  </div>
                }

                <div class="VisitorCount">
                  <label for="VisitorCount" class="form-label">Visitor Count</label>
                  <input class="form-control" type="number"  formControlName="VisitorCount" name="VisitorCount" id="VisitorCount" placeholder="Enter Number of Visitors...">
                </div>

                <div class="text-center">
                  <button class="btn main-btn" type="button" (click)="openModal(centerScroll, { scrollable: true, centered: true })"> Checkout </button>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="extra-services" role="tabpanel" aria-labelledby="extra-services-tab">
              <form class="d-flex flex-column gap-2 p-3 shadow-lg border rounded-3">
                <h3 class="m-0">Add Companions</h3>

                <div class="companion">
                  <label for="companion" class="form-label">Name</label>
                  <h3 class="main-color fw-bold">{{userData.fullName}}</h3>
                </div>

                <div class="companion">
                  <label for="companion" class="form-label">Number of Companions</label>
                  <input class="form-control" type="number" name="companion" id="companion" placeholder="Enter Number of Companions...">
                </div>

                <div class="text-center">
                  <button class="btn main-btn"> Add Companions </button>
                </div>
              </form>
            </div>
          </div>

          <!-- @if(eventType == 'GraduationParty'){
            <div class="seat-numbers py-4 overflow-auto shadow-lg border rounded-3 p-3 my-3">
            <div class="stage-wrapper text-center mb-4">
              <div class="stage">
                🎭 Stage
              </div>
            </div>
            @for (cat of categories; track $index) {
              <div class="my-4">
                @for (row of cat.rows; track $index) {
                  <div class="row-line">

                    <div class="blocks">
                      @for (block of row.blocks; track $index) {
                        <div class="block">
                          @for (seat of block.seats; track $index) {
                            <div
                              class="seat"
                              [ngClass]="seat.status"
                              (click)="toggleSeat(seat)"
                            >
                              {{row.name}}{{seat.number}}
                            </div>
                          }
                        </div>
                      }


                    </div>

                  </div>
                }
              </div>
            }
            </div>
          } -->

        </div>

        <ng-template
          #centerScroll
          let-modal
          class="modal fade"
          id="exampleModalCenteredScrollable"
          tabindex="-1"
          aria-labelledby="exampleModalCenteredScrollableTitle"
          aria-hidden="true"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalCenteredScrollableTitle"
              >
                Checkout
              </h5>
              <button
                type="button"
                (click)="modal.close()"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="summary rounded-3 h-100">

          <div class="text-center">
            <img src="assets/images/tikecktImages/logos/app-icon.png" class="ticketat-logo" alt="ticketat">
          </div>

          <div class="d-flex flex-column align-items-start gap-0 mt-3 justify-content-between">
            <p> Name : <span class="main-color fw-medium">{{ userData?.fullName}}</span></p>
            <p> Phone : <span class="main-color fw-medium">{{ userData?.phone}}</span></p>
            <p> Email : <span class="main-color fw-medium">{{ userData?.email}}</span></p>
            <p> companions :
              <span class="main-color fw-medium">
                @if(checkoutData?.VisitorCount){
                  {{checkoutData?.VisitorCount}} +
                }
                2 Companion(s)
              </span>
            </p>
            <p> Ticket Price : <span class="main-color fw-medium">{{ eventData?.TicketPrice | number}} EGP</span></p>
            @if(checkoutData?.VisitorCount && checkoutData.VisitorCount > 0){
              <p> Visitor Price : <span class="main-color fw-medium">{{ eventData?.VisitorPrice | number}} EGP</span> </p>
            }

            <div class="w-100 pt-2 text-start rounded-3 border-top">
              <p class="m-0"> SubTotal: <span class="main-color fw-bold">{{ subTotal | number }} EGP</span> </p>
              <p class="m-0 my-2"> Tax: <span class="main-color fw-bold"> {{ tax }} EGP </span></p>
              <p class="m-0 pt-2 text-center fs-3 border-top"> Total: <span class="main-color fw-bold">{{ total | number }} EGP</span> </p>
              <p class="text-center fs-3"><a href="https://ipn.eg/S/anfahmy2000/instapay/5fLUFC" target="_blank">Pay Now <i class="fa-solid fa-up-right-from-square"></i></a></p>
            </div>

            <small>
              Transaction reference must be exactly 12 digits
            </small>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Transaction Reference"
              maxlength="12"
              [(ngModel)]="transactionRef"
              name="transactionRef"
              inputmode="numeric"
            />
          </div>
        </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              (click)="modal.close()"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>

             <button
              type="button"
              class="btn btn-primary"
              [disabled]="transactionRef.length !== 12"
              (click)="submitCheckout()"
            >
              Confirm
            </button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</section>
