<section class="event py-3" id="event">
  <div class="container-fluid">
    <div class="border border-2 rounded-3 p-3 shadow-lg">
      <div class="event-banner overflow-hidden rounded-4">
        @if(eventData?.imageUrl){
          <img loading="lazy" class="rounded-2 w-100 h-100 object-fit-cover" [src]="eventData?.imageUrl" alt="Event image">
        } @else {
          <img loading="lazy" class="rounded-2 w-100 h-100 object-fit-cover" src="assets/images/tikecktImages/event-image/gard-party-cover.png" alt="Event image">
        }
      </div>

      <div class="event-details my-3">
        <h1 class="fs-25 fw-bold">{{eventData?.name}}</h1>
        <p>
          Location : <span class="text-dark"><a class="cr text-dark">{{eventData?.location}}</a></span> <br>
          Date : <span class="text-dark"> {{eventData?.date | date:'dd/mm/yyyy'}} </span> <br>
          Ticket Price: <span class="text-dark"> {{eventData?.price | number}} EGP </span> <br>
          Companion Price: <span class="text-dark"> {{eventData?.visitorFee | number}} EGP </span>
        </p>

        <h4 class="fw-bold">Event Details :</h4>
        <ul>
          @for (detail of eventDetailsList; track $index) {
            <li>
              {{ detail }}
            </li>
          }
        </ul>

        <h4 class="fw-bold">Term Of Entry :</h4>
        <ul>
          @for (term of termsList; track $index) {
            <li>
              {{ term }}
            </li>
          }
        </ul>

        <!-- <div class="accordion" id="accordionExample" ngbAccordion [closeOthers]="true" >
          <div class="accordion-item" ngbAccordionItem [collapsed]="true" >
            <h2 class="accordion-header" id="headingOne" ngbAccordionHeader>
              <button class="accordion-button fw-medium fs-3" ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" > Terms of entry </button>
            </h2>
            <div id="collapseOne" ngbAccordionCollapse class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body" ngbAccordionBody >
                <ul class="entry-rules">
                  @for (term of termsList; track $index) {
                    <li>
                      {{ term }}
                    </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div> -->

        <div class="text-center">
          <button class="btn btn-bg p-0 px-4 py-1 mt-2" [routerLink]="'/checkout/' + eventData?.id" >Book Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
