<section class="user-events" id="user-events">
  <div class="container-fluid py-3">
    <div class="row g-3">
      <div class="col-12">
        <h1>{{bookingData?.EventName}}</h1>
      </div>

      <div class="col-12 card p-3">
        <div class="row g-3">
          <div class="col-md-4">
            <div class="user-image">
              <img [src]="bookingData?.userImage" class="w-100 h-100 object-fit-cover" [alt]="bookingData?.userName">
            </div>
          </div>
          <div class="col-md-8">
            <div class="user-info d-flex flex-column justify-content-center h-100">
              @if(!canSendQrs()){
                <span class="new-outcomer-check bg-danger text-white rounded-5 px-3 py-1 mb-3">New Outcomer</span>
              }
              <h4>Name : {{bookingData?.userName}}</h4>
              <h4>Email : <a href="mailto:{{bookingData?.userEmail}}" target="_blank">{{bookingData?.userEmail}}</a></h4>
              <h4>Phone : <a href="whatsapp://send?phone={{bookingData?.userPhone}}" target="_blank">{{bookingData?.userPhone}}</a></h4>
              <h4>Seat No. : ({{ bookingData?.qrs ? bookingData?.qrs[0]?.seatNumber || '-' : '-'}})</h4>

              <h4>Status : <span [ngClass]="{
                'text-danger' : bookingData?.status == 'Rejected',
                'text-warning' : bookingData?.status == 'Pending',
                'second-color' : bookingData?.status == 'Par-Paid',
                'main-color fw-bold' : bookingData?.status == 'Paid',
              }">{{bookingData?.status}}</span></h4>
              @if(canSendQrs() && bookingData?.status == 'Paid' && (bookingData?.OwnerId == userId || role == 'Admin')){
                <h4>Send QRs : <span class="main-color fw-bold cr" (click)="(sendFinalQrs(bookingData?.userEmail,bookingData?.EventName, bookingData?.userName,bookingData?.qrs))"><i class="fa-solid fa-envelope"></i> QRs Email</span></h4>
                <h4>Send Unused QRs : <span class="main-color fw-bold cr" (click)="(sendUnusedQrs(bookingData?.userEmail,bookingData?.EventName, bookingData?.userName,bookingData?.qrs))"><i class="fa-solid fa-envelope"></i> QRs Email</span></h4>
              }
            </div>
          </div>
        </div>

      </div>

      <!-- Deposit -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h4 class="card-title mb-2">Deposit</h4>
                <p class="text-muted fw-medium fs-22 mb-0">{{bookingData?.payOneAmount | number}} EGP</p>
              </div>

              <div class="avatar-md bg-primary bg-opacity-10 rounded">
                <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Final Payment -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h4 class="card-title mb-2">Final Payment</h4>
                <p class="text-muted fw-medium fs-22 mb-0">{{bookingData?.payTwoAmount | number}} EGP</p>
              </div>

              <div class="avatar-md bg-primary bg-opacity-10 rounded">
                <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Outcomers Amount  -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h4 class="card-title mb-2">Outcomers Amount</h4>
                <p class="text-muted fw-medium fs-22 mb-0">{{TotalOutComersPrice | number}} EGP</p>
              </div>

              <div class="avatar-md bg-primary bg-opacity-10 rounded">
                <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Amount -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h4 class="card-title mb-2">Total Amount</h4>
                <p class="text-muted fw-medium fs-22 mb-0">{{bookingData?.totalAmount + TotalOutComersPrice | number}} EGP</p>
              </div>
              <div>
                <div class="avatar-md bg-primary bg-opacity-10 rounded">
                  <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Visitors -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between gap-5">
              <div class="flex-grow-1">
                <h4 class="card-title mb-2">Total Visitors</h4>
                 <div class="w-100 d-flex justify-content-between align-items-center flex-wrap">
                    <p class="text-muted fw-medium fs-22 mb-0">{{ (bookingData?.defaultVisitorCount + bookingData?.VisitorCount) || 0 | number }} Outcomers</p>
                    <div>
                      <span class="fw-bold main-color">{{bookingData?.defaultVisitorCount || 0 | number }} Defualt</span>
                      <span class="fw-bold main-color"> - </span>
                      <span class="fw-bold main-color">{{bookingData?.VisitorCount || 0 | number }} New</span>
                    </div>
                  </div>
              </div>
              <div>
                <div class="avatar-md bg-primary bg-opacity-10 rounded">
                  <i class="fs-32 main-color avatar-title ri-user-line"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Images Transactions -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card p-3 rounded-3 h-100">
          <h4 class="mb-2 main-color">Screen Deposit</h4>

          <div class="text-center d-flex flex-column justify-content-center align-items-center gap-1 mb-2">
            <span>Price : {{bookingData?.payOneAmount | number}} EGP</span>
            <span>created At : {{bookingData?.createdAtOne?.toDate() | date:"medium"}}</span>
            <span>Referance No. : {{bookingData?.payOneRef || '-'}}</span>
          </div>


          <div class="image-trans">
            <img [src]="bookingData?.payOneImage" [alt]="">
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="card p-3 rounded-3 h-100">

          <h4 class="mb-2 main-color">Screen Last Payment</h4>

          <div class="text-center d-flex flex-column justify-content-center align-items-center gap-1 mb-2">
            <span>Price : {{bookingData?.payTwoAmount | number}} EGP</span>
            <span>created At : {{bookingData?.createdAtTwo?.toDate() | date:"medium"}}</span>
            <span>Referance No. : {{bookingData?.payTwoRef || '-'}}</span>
          </div>


          <div class="image-trans">
            <img [src]="bookingData?.payTwoImage" [alt]="">
          </div>

        </div>
      </div>

      @if(bookingData?.paymentStages?.length > 0){
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card p-3 rounded-3 h-100">

            <h4 class="mb-2 main-color">Screen Payment Stage Two</h4>

            <div class="text-center d-flex flex-column justify-content-center align-items-center gap-1 mb-2">
              <span>created At : {{bookingData?.paymentStages[0]?.createdAt?.toDate() | date:"medium"}}</span>
              <span>Referance No. : {{bookingData?.paymentStages[0]?.paymentRef || '-'}}</span>
            </div>


            <div class="image-trans">
              <img [src]="bookingData?.paymentStages[0]?.paymentImage" [alt]="">
            </div>

          </div>
        </div>
      }


      @if(bookingData?.VisitorCount){
        @for (screen of bookingData?.newOutcomers; track $index) {
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card position-relative p-3 rounded-3 h-100">
              @if(role == 'Admin'){
                <span class="delete-icon text-center d-flex justify-content-center align-items-center cr" (click)="deleteOutcomers($index)"> <i class="fa-solid fa-xmark"></i> </span>
              }

              <h4 class="mb-2 main-color">Screen Outcomers Payments ({{$index + 1}})</h4>

              <div class="text-center d-flex flex-column justify-content-center align-items-center gap-1 mb-2">
                <span>Outcomer(s) : {{screen?.count | number}} Outcomer(s)</span>
                <span>Price : {{screen?.price | number}} EGP</span>
                <span>created At : {{screen?.createdAt?.toDate() | date:"medium"}}</span>
                <span>Referance No. : {{screen?.payRef || '-'}}</span>
              </div>

              @if(!screen?.price){
                <div class="input-payment">
                  <div class="main-color fw-bold mb-1">
                    <span>Amount Paid : {{ ((screen?.count * eventData?.VisitorPrice) * 1.02) | number }} EGP</span>
                  </div>
                  <input
                    class="form-control"
                    type="number"
                    min="0"
                    [name]="'payment' + $index"
                    [(ngModel)]="outcomerPayments[$index]"
                    placeholder="Enter User Amount Paid..."
                  />
                </div>

                <div class="text-center my-2">
                  <button
                    class="btn main-btn w-100"
                    [disabled]="
                      outcomerPayments[$index] != ((screen?.count * eventData?.VisitorPrice) * 1.02) ||
                      loadingIndex === $index
                    "
                    (click)="confirmOutcomerPayment(outcomerPayments[$index], $index)">
                    Submit
                  </button>
                </div>
              }

              <div class="image-trans h-100 overflow-hidden">
                <img [src]="screen?.payImage" [alt]="">
              </div>

            </div>
          </div>
        }
      }


    </div>
  </div>
</section>

