<section class="user-events" id="user-events">
  <div class="container-fluid py-3">
    <div class="row g-2">
      <div class="col-12">
        <h1>{{bookingDate?.EventName}}</h1>
      </div>

      <div class="col-12 card p-3">
        <div class="row g-3">
          <div class="col-md-4">
            <div class="user-image">
              <img [src]="bookingDate?.userImage" class="w-100 h-100 object-fit-cover" [alt]="bookingDate?.userName">
            </div>
          </div>
          <div class="col-md-8">
            <div class="user-info d-flex flex-column justify-content-center h-100">
              <h4>Name : {{bookingDate?.userName}}</h4>
              <h4>Email : {{bookingDate?.userEmail}}</h4>
              <h4>Phone : {{bookingDate?.userPhone}}</h4>
              <h4>Status : <span [ngClass]="{
                'text-danger' : bookingDate?.status == 'Rejected',
                'text-warning' : bookingDate?.status == 'Pending',
                'main-color fw-bold' : bookingDate?.status == 'Paid',
              }">{{bookingDate?.status}}</span></h4>
            </div>
          </div>
        </div>

      </div>

      <!-- Deposit -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h4 class="card-title mb-2">Deposit</h4>
                <p class="text-muted fw-medium fs-22 mb-0">{{bookingDate?.payOneAmount | number}} EGP</p>
              </div>

              <div class="avatar-md bg-primary bg-opacity-10 rounded">
                <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Total Amount -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h4 class="card-title mb-2">Total Amount</h4>
                <p class="text-muted fw-medium fs-22 mb-0">{{bookingDate?.totalAmount + TotalOutComersPrice | number}} EGP</p>
              </div>
              <div>
                <div class="avatar-md bg-primary bg-opacity-10 rounded">
                  <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Total Visitors -->
      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between gap-5">
              <div class="flex-grow-1">
                <h4 class="card-title mb-2">Total Visitors</h4>
                 <div class="w-100 d-flex justify-content-between align-items-center flex-wrap">
                    <p class="text-muted fw-medium fs-22 mb-0">{{ bookingDate?.totalVisitors || 0 | number }} Outcomers</p>
                    <div>
                      <span class="fw-bold main-color">{{bookingDate?.defaultVisitorCount || 0 | number }} Defualt</span>
                      <span class="fw-bold main-color"> - </span>
                      <span class="fw-bold main-color">{{bookingDate?.VisitorCount || 0 | number }} New</span>
                    </div>
                  </div>
              </div>
              <div>
                <div class="avatar-md bg-primary bg-opacity-10 rounded">
                  <i class="fs-32 main-color avatar-title ri-user-line"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Images Transactions -->
      <div class="col-md-3">
        <h4>Screen Deposit</h4>
        <div class="div-image-trans">
          <img [src]="bookingDate?.payOneImage" class="w-100 h-100 object-fit-cover" [alt]="">
        </div>
      </div>

      <div class="col-md-3">
        <h4>Screen Last Payment</h4>
        <div class="div-image-trans">
          <img [src]="bookingDate?.payTwoImage" class="w-100 h-100 object-fit-cover" [alt]="">
        </div>
      </div>


      @if(bookingDate?.VisitorCount){
        @for (screen of bookingDate?.newOutcomers; track $index) {
          <div class="col-md-3">
            <h4>Screen Outcomers Payments ({{$index + 1}})</h4>
            <div class="div-image-trans h-100">
              <img [src]="screen?.payImage" class="w-100 h-100 object-fit-cover" [alt]="">
            </div>
          </div>
        }
      }


    </div>
  </div>
</section>

