<section class="all-events" id="all-events">
  <div class="container-fluid py-3">
    <div class="bg-white rounded-3 p-3 shadow-lg">
      <h1 class="fw-bold">All Events</h1>
      <div class="head-table d-flex gap-2 flex-wrap justify-content-between align-items-center mb-3">
        <div class="search">
          <input
            type="text"
            class="form-control"
            placeholder="Search events..."
            [(ngModel)]="searchText"
            (input)="applySearch()"
          />
        </div>

        <div class="download d-flex align-items-center gap-2">
          <button class="btn btn-outline-primary" (click)="downloadOwnerEvent()">Download <i class="fa-solid fa-file-csv"></i></button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-light">
            <tr>
              <th (click)="sort('id')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>ID</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('EventName')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Event Name</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'EventName' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'EventName' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('LocationName')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Location</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'LocationName' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'LocationName' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('TicketPrice')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Ticket Price</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'TicketPrice' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'TicketPrice' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('VisitorPrice')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Visitor Price</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'VisitorPrice' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'VisitorPrice' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('TicketCount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Ticket Count</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'TicketCount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'TicketCount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('ticketAvailable')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Ticket Available</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'ticketAvailable' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'ticketAvailable' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('date')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Date</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'date' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'date' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('ownerPayment')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Owner Payment</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'ownerPayment' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'ownerPayment' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('status')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Status</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'status' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'status' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th>
                <div class="d-flex justify-content-center align-items-center">
                  <span>Action</span>
                </div>
              </th>
            </tr>
          </thead>

          <tbody>
            @for (event of paginatedData; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>
                  <div class="d-flex align-items-center gap-2 w-100">
                    <img [src]="event?.Image" width="50" class="rounded" [alt]="event?.EventName" />
                    <h6 class="m-0 w-100 text-start" >
                      <span class="mb-1 d-inline-block fw-bold main-color">{{ fullName || 'Unknown' }}</span>  <br>
                      {{ event?.EventName }}
                    </h6>
                  </div>
                </td>
                <td>
                  <a [href]="event?.Location" target="_blank">
                    {{ event?.LocationName }}
                  </a>
                </td>
                <td>{{ event?.TicketPrice | number }} EGP</td>
                <td>{{ event?.VisitorPrice | number }} EGP</td>
                <td>{{ event?.TicketCount }} Tickets</td>
                <td>{{ event?.TicketCount - event?.bookingCount || event?.TicketCount }} Tickets</td>
                <td>
                    {{ event?.Date | date:'dd/MM/yyyy' }}
                </td>
                <td>{{ event?.ownerPayment || 0 | number}} EGP</td>
                <td>
                  <span
                    class="badge"
                    [class.bg-success]="event?.status === 'Active'"
                    [class.bg-danger]="event?.status !== 'Active'"
                  >
                    {{ event?.status }}
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center gap-1">
                    <i class="ri-user-line cr fs-4 second-color" [routerLink]="'/event-attendees/' + event?.Type + '/' + event?.id"></i>
                    <i class="fa-solid fa-circle-info cr fs-4 second-color" [routerLink]="'/organizer-event-details/' + event?.id"></i>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="changePage(page - 1)">Prev</a>
        </li>

        @for (p of totalPages; track $index) {
          <li class="page-item" [class.active]="p === page">
            <a class="page-link" (click)="changePage(p)">{{ p }}</a>
          </li>
        }

        <li class="page-item" [class.disabled]="page === totalPages.length">
          <a class="page-link" (click)="changePage(page + 1)">Next</a>
        </li>
      </ul>
    </div>

  </div>
</section>

<!--
<ng-template
  #content
  let-modal
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Assign Owner To Event</h5>
      <button
        (click)="modal.close('click')"
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="row g-3" [formGroup]="assignForm">
        <div class="Owner col-md-6">
          <label for="Owner" class="form-label">Owner</label>
          <select class="form-select" formControlName="userId" name="Owner" id="Owner">
            <option value="" selected disabled>Choose Event Owner</option>
            @for (user of allUsers; track $index) {
              <option [value]="user.id">{{user.fullName}}</option>
            }
          </select>
        </div>

        <div class="Events col-md-6">
          <label for="Events" class="form-label">Events</label>
          <select class="form-select" formControlName="eventId" name="Events" id="Events">
            <option value="" selected disabled>Choose Event</option>
            @for (event of allEvents; track $index) {
              <option [value]="event?.id">{{event?.name}}</option>
            }
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        (click)="modal.close('click')"
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="submitAssignOwnerToEvent()">
        Save changes
      </button>
    </div>
  </div>
</ng-template> -->
