<section class="checkout" id="checkout">
  <div class="container-fluid">
    <div class="rounded-3 p-3 shadow-lg">
      <form class="row p-2 shadow-lg rounded-3" [formGroup]="eventForm">
        <div class="col-12">
          <h1 class="main-color fw-bold">New Event</h1>
        </div>

        <div class="col-md-5">
          <div class="Image">
            <label for="Image" class="form-label">Event Image</label>
            <input
              class="form-control"
              type="file"
              id="Image"
              name="Image"
              accept="image/*"
              (change)="onImageChange($event)"
            />
          </div>

          @if(imagePreview){
            <div class="image-event-view text-center">
              <img
                  [src]="imagePreview"
                  alt="preview"
                  style="width: 200px; margin-top: 10px"
                />
            </div>
          }
        </div>


        <div class="col-md-6">

          <div class="row g-2">
            <div class="col-md-4">
              <div class="Owner">
                <label for="Owner" class="form-label">Event Owner</label>
                <select class="form-select" name="Owner" id="Owner" formControlName="OwnerId">
                  <option value="" selected disabled>Choose Event Owner</option>
                  @for (owner of allOwners; track $index) {
                    <option [value]="owner.uid">{{owner.fullName}}</option>
                  }
                </select>
              </div>
            </div>

            <div class="col-md-4">
               <div class="Type">
                <label for="Type" class="form-label">Event Type</label>
                <select class="form-select" name="Type" id="Type" formControlName="Type">
                  <option value="" selected disabled>Choose Event Type</option>
                  <option value="Graduation">Graduation</option>
                  <option value="Funday">Funday</option>
                  <option value="Conferences">Conference</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
               <div class="PaidPhases">
                <label for="PaidPhases" class="form-label">Paid Phases</label>
                <select class="form-select" name="PaidPhases" id="PaidPhases" formControlName="PaidPhases">
                  <option value="1 Phase">1 Phase</option>
                  <option value="2 Phases">2 Phases</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="OriganizerName">
                <label for="OriganizerName" class="form-label">Origanizer Name</label>
                <input class="form-control" formControlName="OriganizerName" name="OriganizerName" id="OriganizerName" placeholder="Origanizer Name...">
              </div>
            </div>

            <div class="col-md-6">
              <div class="PaymentLink">
                <label for="PaymentLink" class="form-label">Payment Link</label>
                <input class="form-control" formControlName="PaymentLink" name="PaymentLink" id="PaymentLink" placeholder="Origanizer Name...">
              </div>
            </div>


            <div class="col-12">
              <div class="EventName">
                <label for="EventName" class="form-label">Event Name</label>
                <input class="form-control" formControlName="EventName" name="EventName" id="EventName">
              </div>
            </div>

            <div class="col-md-6">
              <div class="Location">
                <label for="Location" class="form-label">Location Link</label>
                <input class="form-control" formControlName="Location" type="text" name="Location" id="Location" placeholder="Enter Event Location Link...">
              </div>
            </div>

            <div class="col-md-6">
              <div class="LocationNName">
                <label for="LocationName" class="form-label">Location Name</label>
                <input class="form-control" formControlName="LocationName" type="text" name="LocationName" id="LocationName" placeholder="Enter Event Location Name...">
              </div>
            </div>

            <div class="col-md-6">
              <div class="Date">
                <label for="Date" class="form-label">Date</label>
                <input class="form-control" formControlName="Date" type="date" name="Date" id="Date" placeholder="Enter Event Date...">
              </div>
            </div>


            <div class="col-md-6">
              <div class="TicketCount">
                <label for="TicketCount" class="form-label">Tickets Limit</label>
                <input class="form-control" formControlName="TicketCount" type="number" name="TicketCount" id="TicketCount" placeholder="Enter Your Ticket Count...">
              </div>
            </div>

            <div class="col-md-6">
              <div class="TicketPrice">
                <label for="TicketPrice" class="form-label">Ticket Price</label>
                <input class="form-control" formControlName="TicketPrice" type="number" name="TicketPrice" id="TicketPrice" placeholder="Enter Event Ticket Price...">
              </div>
            </div>

            <div class="col-md-6">
              <div class="VisitorPrice">
                <label for="VisitorPrice" class="form-label">Companion Price</label>
                <input class="form-control" formControlName="VisitorPrice" type="number" name="VisitorPrice" id="VisitorPrice" placeholder="Enter Event Price...">
              </div>
            </div>

            <div class="col-12">
              <div class="EventDetails">
                <label for="EventDetails" class="form-label">Event Details</label>
                <textarea name="EventDetails" id="EventDetails" class="form-control" formControlName="EventDetails" placeholder="Enter Event EventDetails..."></textarea>
              </div>
            </div>

            <div class="col-12">
              <div class="TermsOfEntries">
                <label for="TermsOfEntries" class="form-label">Event Terms</label>
                <textarea name="TermsOfEntries" id="TermsOfEntries" class="form-control" formControlName="TermsOfEntries" placeholder="Enter Event TermsOfEntries..."></textarea>
              </div>
            </div>

          </div>

        </div>


        <div class="submit-btn text-center mt-3">
          <button class="btn main-btn" (click)="submitCreateEvent()"> Create Event </button>
        </div>
      </form>
    </div>
  </div>
</section>
