<section class="terms-and-conditions" id="terms-and-conditions">
  <div class="container-fluid py-3">
    <div class="border border-2 rounded-3 p-3 shadow-lg">
      <div class="head-section position-relative my-3">
        <div class="d-flex justify-content-between">
          <h1 class="fw-bold m-0">Ticketat Terms & Conditions</h1>
        </div>
      </div>

      <div class="terms-info">
        <h3>Welcome to Ticketat! Before booking your ticket, please read these terms and conditions carefully. Using the website means you agree to them.</h3>

        <div class="terms mt-4">
          <h4>1. Booking & Payment</h4>
          <ul class="">
            <li class="">All bookings must be made through the official website.</li>
            <li class="">Full payment is required at the time of booking, and your booking will only be confirmed after payment.</li>
            <li class="">Once paid, a booking receipt will be sent to the email you registered with.</li>
          </ul>

          <h4>2. Tickets & Cancellation</h4>
          <ul class="">
            <li class="">Tickets are personal and cannot be transferred to another person.</li>
            <li class="">If you want to cancel your booking, it must be done within a specified period before the event (the period will be specified for each event).</li>
          </ul>

          <h4>3. Entry & Attendance</h4>
          <ul class="">
            <li class="">You must arrive at the venue early enough to ensure smooth entry.</li>
            <li>A digital ticket is required for entry, and without it, entry will not be allowed.</li>
            <li>Organizers or Ticketat reserve the right to refuse entry to anyone violating the rules or event instructions.</li>
          </ul>

          <h4>4. Liability</h4>
          <ul class="">
            <li class="">Ticketat is a booking platform only. The primary responsibility for the event lies with the organizer.</li>
            <li>The website is not responsible for any changes in event time or location unless officially notified.</li>
          </ul>

          <h4>5. Privacy</h4>
          <ul class="">
            <li class="">Your personal data will be stored securely and will not be shared with any third party.</li>
            <li>You must agree to the Privacy Policy before completing your booking.</li>
          </ul>

          <h4>6. Modifications</h4>
          <ul class="">
            <li class="">Ticketat reserves the right to modify these terms at any time.</li>
            <li>Any changes will take effect immediately upon being published on the website.</li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</section>
