<section class="home" id="home">
  <div class="container py-5">
    <div class="head-section text-center">
      <img loading="lazy" class="logo shadow rounded p-3" src="assets/images/tikecktImages/logos/app-icon.png" alt="ticketat">
      <h1>Welcome To Ticketat</h1>
      <h3>Explore and book the parties and conferences you need</h3>
    </div>


    <div class="events row justify-content-center g-4">
      <!-- <div class="col-md-4 col-6">
        <div class="event-category rounded-3 cr" routerLink="/available-event/RamadanIftar">
          <img loading="lazy" class="rounded-3" src="assets/images/tikecktImages/home-image/Iftar-img.jpg" alt="event party">
          <p>Ramadan Iftar</p>
        </div>
      </div> -->

      <div class="col-md-4 col-6">
        <div class="event-category rounded-3 cr" routerLink="/available-event/Graduation">
          <img loading="lazy" class="rounded-3" src="assets/images/tikecktImages/home-image/graduation-img.png" alt="event party">
          <p>Graduation Party</p>
        </div>
      </div>

      <!-- <div class="col-md-4 col-6">
        <div class="event-category rounded-3 cr" routerLink="/available-event/FunDayEvent">
          <img loading="lazy" class="rounded-3" src="assets/images/tikecktImages/home-image/funday-img.png" alt="event party">
          <p>Funday Party</p>
        </div>
      </div> -->

      <!-- <div class="col-md-4 col-6">
        <div class="event-category rounded-3 cr" routerLink="/available-event/Conferences">
          <img loading="lazy" class="rounded-3" src="assets/images/tikecktImages/home-image/conference-img.png" alt="event party">
          <p>Conference Events</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
