<section class="home d-flex" id="home">
  <div class="container py-5">
    <div class="head-section text-center">
      <h1>Welcome To Ticketat</h1>
      <h3>Explore and book the parties and conferences you need</h3>
    </div>

    <div class="events d-flex justify-content-center align-items-center gap-3 mt-5">
      <div class="event-category rounded-3 cr" routerLink="/event">
        <img class="rounded-3" src="assets/images/tikecktImages/home-image/party-logo.png" loading="lazy" alt="event party">
        <p>Graduation Party</p>
      </div>

       <div class="event-category rounded-3 cr" routerLink="/event">
          <img class="rounded-3" src="assets/images/tikecktImages/home-image/conference-logo.png" loading="lazy" alt="event party">
          <p>Conference</p>
        </div>
    </div>


    <div class="auth-section text-center mt-5 fs-4">
      <span class="cr" routerLink="auth/sign-in">SignIn</span> || <span class="cr" routerLink="/auth/sign-up">Register Now</span>
    </div>
  </div>
</section>
