<ng-progress
  #progressBar
  [trickleSpeed]="10"
  [speed]="10"
  [spinner]="false"
  [thick]="true"
  color="#604ae3"
  [ease]="'linear'"
></ng-progress>

<ngx-spinner
  bdColor="rgba(0, 0, 0)"
  size="medium"
  color="#fff"
  [fullScreen]="true">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="assets/images/tikecktImages/logos/app-icon.png" class="logo-spinner mx-auto" alt="XPRS">
    <span class="text-white fw-bold">Loading...</span>
  </div>
</ngx-spinner>

<router-outlet />
