<ng-progress
  #progressBar
  [trickleSpeed]="10"
  [speed]="10"
  [spinner]="false"
  [thick]="true"
  color="#604ae3"
  [ease]="'linear'"
></ng-progress>

<ngx-spinner bdColor = "rgba(0, 0, 0, .9)" size = "medium" color = "#fff" [fullScreen] = "true">
  <div class="text-center logo-spinner-container">
    <img src="assets/images/tikecktImages/logos/ticketat-logo-3.png" class="logo-spinner" alt="tickectat">
    <p class="text-white fw-bold m-0 mt-2">Loading....</p>
  </div>
</ngx-spinner>

<router-outlet />
