<section class="qrcode" id="qrcode">
  <div class="container py-5">
    <div class="logo text-center shadow-lg p-3 mt-4 rounded-4">
      <img src="assets/images/tikecktImages/logos/tiecktat-logo-removebg-preview.png" loading="lazy" alt="ticketat">
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <qrcode
        [qrdata]="qrValue!"
        [width]="240"
        [margin]="2"
        colorDark="#fff"
        colorLight="#519AE1"
        errorCorrectionLevel="M"
        elementType="canvas"
        ariaLabel="Scan to complete checkout">
      </qrcode>
    </div>
  </div>
</section>
