<!-- <section class="reset-password d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="card py-2 auth-card mx-auto">
      <div class="card-body">
        <div class="head-card d-flex flex-column justify-content-center align-items-center text-center gap-2 mb-3">
          <div class="head-image">
            <img src="assets/images/tikecktImages/logos/mini-icon.png" height="70" alt="logo dark" />
          </div>

          <div class="head-content">
            <h2 class="fw-bold text-uppercase fs-18 m-0">Reset Password</h2>
            <p class="mb-0 mt-1">
              Forgot your password? Let’s get you a new one.
            </p>
          </div>
        </div>

        <div class="px-4">
          <form class="authentication-form" [formGroup]="resetForm">
            <div class="mb-3">
              <label class="form-label" for="old-password">Old Password</label>
              <input
                type="password"
                id="old-password"
                formControlName="oldPassword"
                class="form-control bg-light bg-opacity-50 border-light py-2"
                placeholder="Enter old password"
              />
            </div>

             <div class="mb-3">
              <label class="form-label" for="new-password">New Password</label>
              <input
                type="password"
                id="new-password"
                formControlName="newPassword"
                class="form-control bg-light bg-opacity-50 border-light py-2"
                placeholder="Enter new password"
              />
            </div>


            <div class="mb-1 text-center d-grid">
              <button class="btn btn-danger py-2 fw-medium" type="submit" (click)="submitReset()">
                Reset Password
              </button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</section> -->
