<section class="event-subCategory" id="event-subCategory">
  <div class="container py-3">
    <div class="bg-white rounded-3 p-3">
      <div class="head-section position-relative my-3">
        <img src="assets/images/tikecktImages/event-image/cap-grad.png" alt="graduation party">
        <div class="d-flex justify-content-between">
          <h1 class="main-color fw-bold m-0">Graduation's Events</h1>
          @if(token){
            <button class="btn main-bg" routerLink="/add-event">Add Event</button>
          }
        </div>

      </div>
      <div class="event-items">
        <div class="row">
          @for (event of allEvents; track $index) {
            <div class="col-lg-6">
              <div class="card rounded-3 overflow-hidden position-relative h-100">
                <div class="badge" [ngClass]="{
                  'bg-danger': false,
                  'bg-success': true,
                }">
                  Event Available
                </div>
                <div class="row g-0 h-100">
                  <div class="col-md-4">
                    @if(event.imageUrl){
                      <img
                        [src]="event.imageUrl"
                        class="img-fluid rounded-start h-100"
                        alt="img-1"
                      />
                    } @else {
                      <img class="img-fluid rounded-start h-100" src="assets/images/tikecktImages/event-image/cap-grad.png" alt="graduation party">
                    }
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex justify-content-center align-items-center h-100">
                      <div class="card-body">
                        <h5 class="card-title mb-2">{{event.name}}</h5>
                        <p class="card-text party-details">
                          Location : <span><a class="cr" [href]="event.location">{{event.location}}</a></span> <br>
                          Date : <span> {{event.date | date}} </span> <br>
                          Price: <span> {{event.price | number}} EGP </span>
                        </p>
                        <div class="card-text d-flex justify-content-between align-items-end">
                          <button class="btn book-btn main-bg p-0 px-2 py-1" [routerLink]="'/event-details/' + event.id">Book Now</button>
                          @if(!token){
                            <small class="text-muted">{{event.availableNumberOfVisitors}} From {{event.numberOfVisitorsAllowed}}</small>
                          }@else {
                            <small class="text-muted">Updated....</small>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
