<section class="event-subCategory" id="event-subCategory">
  <div class="container py-3">
    <div class="bg-white rounded-3 p-3">
      <div class="head-section position-relative my-3">
        <img src="assets/images/tikecktImages/event-image/cap-grad.png" alt="graduation party">
        <h1 class="main-color fw-bold m-0">Graduation's Events</h1>
      </div>
      <div class="event-items">
        <div class="row">
          <div class="col-md-6">
            <div class="card rounded-3 overflow-hidden position-relative">
              <div class="badge" [ngClass]="{
                'bg-danger': false,
                'bg-success': true,
              }">
                Event Available
              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="assets/images/small/img-1.jpg"
                    class="img-fluid rounded-start h-100"
                    alt="img-1"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title mb-2">Graduation Party – Faculty of Arts, Ain Shams University 2026</h5>
                    <p class="card-text party-details">
                      Location : <span><a class="cr">Four Seasons Hotel</a></span> <br>
                      Date : <span> 15 January 2026 </span> <br>
                      Price: <span> {{500 | number}} EGP </span>
                    </p>
                    <div class="card-text d-flex justify-content-between align-items-end">
                      <button class="btn book-btn main-bg p-0 px-2 py-1" [routerLink]="'/event-details'">Book Now</button>
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card rounded-3 overflow-hidden position-relative">
              <div class="badge" [ngClass]="{
                'bg-danger': false,
                'bg-success': true,
              }">
                Event Available
              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="assets/images/small/img-1.jpg"
                    class="img-fluid rounded-start h-100"
                    alt="img-1"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title mb-2">Graduation Party – Faculty of Arts, Ain Shams University 2026</h5>
                    <p class="card-text party-details">
                      Location : <span><a class="cr">Four Seasons Hotel</a></span> <br>
                      Date : <span> 15 January 2026 </span> <br>
                      Price: <span> {{500 | number}} EGP </span>
                    </p>
                    <div class="card-text d-flex justify-content-between align-items-end">
                      <button class="btn book-btn main-bg p-0 px-2 py-1" [routerLink]="'/event-details'">Book Now</button>
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card rounded-3 overflow-hidden position-relative">
              <div class="badge" [ngClass]="{
                'bg-danger': false,
                'bg-success': true,
              }">
                Event Available
              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="assets/images/small/img-1.jpg"
                    class="img-fluid rounded-start h-100"
                    alt="img-1"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title mb-2">Graduation Party – Faculty of Arts, Ain Shams University 2026</h5>
                    <p class="card-text party-details">
                      Location : <span><a class="cr">Four Seasons Hotel</a></span> <br>
                      Date : <span> 15 January 2026 </span> <br>
                      Price: <span> {{500 | number}} EGP </span>
                    </p>
                    <div class="card-text d-flex justify-content-between align-items-end">
                      <button class="btn book-btn main-bg p-0 px-2 py-1" [routerLink]="'/event-details'">Book Now</button>
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card rounded-3 overflow-hidden position-relative">
              <div class="badge" [ngClass]="{
                'bg-danger': false,
                'bg-success': true,
              }">
                Event Available
              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="assets/images/small/img-1.jpg"
                    class="img-fluid rounded-start h-100"
                    alt="img-1"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title mb-2">Graduation Party – Faculty of Arts, Ain Shams University 2026</h5>
                    <p class="card-text party-details">
                      Location : <span><a class="cr">Four Seasons Hotel</a></span> <br>
                      Date : <span> 15 January 2026 </span> <br>
                      Price: <span> {{500 | number}} EGP </span>
                    </p>
                    <div class="card-text d-flex justify-content-between align-items-end">
                      <button class="btn book-btn main-bg p-0 px-2 py-1" [routerLink]="'/event-details'">Book Now</button>
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
