<section class="user-events" id="user-events">
  <div class="container-fluid py-3">
    <div class="bg-white rounded-3 p-3 shadow-lg">
      <h1 class="fw-bold">All Booking</h1>
      <div class="head-table d-flex gap-2 flex-wrap justify-content-between align-items-center mb-3">
        <!-- Search -->
        <div class="search">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="searchText"
            (input)="applySearch()"
          />
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-light">
            <tr>
              <th (click)="sort('id')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>ID</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('eventName')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Event Name</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'eventName' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'eventName' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('totalVisitors')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Visitors</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'totalVisitors' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'totalVisitors' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('totalAmount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Amount</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('paymentStatus')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Payment Status</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'paymentStatus' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'paymentStatus' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('checkoutDate')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Checkout Date</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'checkoutDate' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'checkoutDate' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('checkoutDate')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Complete Payment</span>
                </div>
              </th>
            </tr>
          </thead>

          <tbody>
            @for (book of paginatedData; track $index) {
              <tr>
                <td>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <span>{{ $index + 1 }}</span>
                  </div>
                </td>
                <td>{{ book.eventName }}</td>
                <td>{{ book.totalVisitors}}</td>
                <td>{{ book.totalAmount}} EGP</td>
                <td>
                  <span
                    class="badge"
                    [class.bg-success]="book.paymentStatus === 'Paid'"
                    [class.bg-warning]="book.paymentStatus === 'Pending'"
                  >
                    {{ book.paymentStatus }}
                  </span>
                </td>

                 <td>{{book.checkoutDate | date}}</td>
                 <td>
                  @if(book.paymentStatus === 'Pending'){
                    <button class="btn main-btn p-0 px-2" (click)="completePayment(book.bookingId)" >
                      Pay Now
                    </button>
                  } @else {
                    <span>-</span>
                  }

                 </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="changePage(page - 1)">Prev</a>
        </li>

        @for (p of totalPages; track $index) {
          <li class="page-item" [class.active]="p === page">
            <a class="page-link" (click)="changePage(p)">{{ p }}</a>
          </li>
        }

        <li class="page-item" [class.disabled]="page === totalPages.length">
          <a class="page-link" (click)="changePage(page + 1)">Next</a>
        </li>
      </ul>
    </div>

  </div>
</section>
