<section class="user-events" id="user-events">
  <div class="container-fluid py-3">

    <!-- Main Table Attendess -->
    <div class="bg-white rounded-3 p-3 shadow-lg">
      <h1 class="fw-bold">All Attendess</h1>
      <h4 class="main-color fw-bold">{{ eventData?.EventName }}</h4>

      <!-- Search and Download Table -->
      <div class="head-table d-flex gap-2 flex-wrap justify-content-between align-items-center mb-3">
        <div class="search">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="searchText"
            (input)="applySearch()"
          />
        </div>

        <div class="download">
          <button class="btn btn-outline-primary">Download   <i class="fa-solid fa-file-csv"></i></button>
        </div>
      </div>

      <!-- Table All Attendess -->
      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-light">
            <tr>
              <th (click)="sort('id')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>ID</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('userName')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Name</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'userName' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'userName' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('userPhone')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Phone</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'userPhone' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'userPhone' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('userEmail')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Email</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'userEmail' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'userEmail' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('department')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Department</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'department' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'department' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('VisitorCount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Visitors</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'VisitorCount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'VisitorCount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('totalAmount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Total Price</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>


              <th (click)="sort('status')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Status</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'status' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'status' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th>
                <div class="d-flex justify-content-center align-items-center">
                  <span>Action</span>
                </div>
              </th>
            </tr>
          </thead>

          <tbody>
            @for (user of paginatedData; track $index) {
              <tr>
                <td>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <span>{{ $index + 1 }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <img loading="lazy" [src]="user?.userImage" width="50" class="rounded" [alt]="user?.userName" />
                    <h6 class="m-0">{{ user?.userName }}</h6>
                  </div>
                </td>
                <td>
                  <a
                    [href]="'https://wa.me/20' + user?.userPhone?.substring(1)"
                    target="_blank"
                  >
                    {{ user?.userPhone }}
                  </a>
                <td>{{ user?.userEmail }}</td>
                <td>{{ user?.department }}</td>
                <td>{{ user?.VisitorCount + user?.defaultVisitorCount }} Visitors</td>
                <td>
                  <span>
                    Total: {{ user?.totalAmount | number }} EGP
                  </span>
                  <br>

                  <span>
                    Tax (2%):
                    {{ getTax(user?.totalAmount) | number:'1.0-2' }} EGP
                  </span>
                  <br>

                  <span class="fw-bold">
                    Final:
                    {{ getFinal(user?.totalAmount) | number }} EGP
                  </span>
                </td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-success': user?.status === 'Paid',
                      'bg-primary': user?.status === 'Par-Paid',
                      'bg-danger': user?.status === 'Pending'
                    }"
                  >
                    {{ user?.status }}
                  </span>
                </td>
                <td>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <i class="fa-solid fa-circle-info cr" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getBookById(user.id)"></i>
                    @if(!user?.payOneAmount){
                      <i class="fa-solid fa-paper-plane cr" data-bs-toggle="modal" data-bs-target="#exampleModal-Check-One" (click)="getBookById(user.id)"></i>
                    }

                    @if(user?.payOneAmount && !user?.payTwoAmount){
                      <i class="fa-solid fa-paper-plane cr" data-bs-toggle="modal" data-bs-target="#exampleModal-Check-One" (click)="getBookById(user.id)"></i>
                    }

                    @if(user?.payTwoAmount && user?.payOneAmount){
                      <i class="fa-solid fa-check-double text-success"></i>
                    }
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>


      <!-- Paginations -->
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="changePage(page - 1)">Prev</a>
        </li>

        @for (p of totalPages; track $index) {
          <li class="page-item" [class.active]="p === page">
            <a class="page-link" (click)="changePage(p)">{{ p }}</a>
          </li>
        }

        <li class="page-item" [class.disabled]="page === totalPages.length">
          <a class="page-link" (click)="changePage(page + 1)">Next</a>
        </li>
      </ul>
    </div>


    <!-- Tables Departments -->
    <div class="sub-main-tables bg-white rounded-3 p-3 shadow-lg mt-4">
      <div class="row g-3">
         @if(groupedByDepartment['French']){
          <!-- French Department -->
          <div class="col-md-6">
            <div class="french-table">
              <h4>French Attendess</h4>

              <div class="table-responsive">
                <table class="table table-hover align-middle text-center">
                  <thead class="table-light">
                    <tr>
                      <th (click)="sort('id')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>ID</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('userName')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Name</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'userName' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'userName' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('userPhone')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Phone</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'userPhone' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'userPhone' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('userEmail')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Email</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'userEmail' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'userEmail' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('status')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Status</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'status' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'status' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    @for (user of groupedByDepartment['French']; track $index) {
                      <tr>
                        <td>
                          <div class="d-flex flex-column justify-content-center align-items-center">
                            <span>{{ $index + 1 }}</span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center gap-2">
                            <img loading="lazy" [src]="user?.userImage" width="50" class="rounded" [alt]="user?.userName" />
                            <div class="text-start">
                              <h6 class="m-0 text-start">{{ user?.userName }}</h6>
                              <span class="fw-bold main-color">{{ user?.department }}</span>
                            </div>
                          </div>
                        </td>
                        <td>{{ user?.userPhone }}</td>
                        <td>{{ user?.userEmail }}</td>
                        <td>
                          <span
                            class="badge"
                            [ngClass]="{
                              'bg-success': user?.status === 'Paid',
                              'bg-primary': user?.status === 'Par-Paid',
                              'bg-danger': user?.status === 'Pending'
                            }"
                          >
                            {{ user?.status }}
                          </span>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        } @else {
          <h3 class="text-center mt-3 mx-auto">No Users Attendees</h3>
        }


        @if(groupedByDepartment['English']){
          <!-- English Department -->
          <div class="col-md-6">
            <div class="french-table">
              <h4>English Attendess</h4>

              <div class="table-responsive">
                <table class="table table-hover align-middle text-center">
                  <thead class="table-light">
                    <tr>
                      <th (click)="sort('id')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>ID</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('userName')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Name</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'userName' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'userName' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('userPhone')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Phone</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'userPhone' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'userPhone' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('userEmail')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Email</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'userEmail' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'userEmail' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>

                      <th (click)="sort('status')" class="sortable">
                        <div class="d-flex justify-content-center align-items-center">
                          <span>Status</span>
                          <span class="sort-icons">
                            <i
                              class="fa-solid fa-caret-up"
                              [class.active]="sortColumn === 'status' && sortDirection === 'asc'"
                            ></i>
                            <i
                              class="fa-solid fa-caret-down"
                              [class.active]="sortColumn === 'status' && sortDirection === 'desc'"
                            ></i>
                          </span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    @for (user of groupedByDepartment['English']; track $index) {
                      <tr>
                        <td>
                          <div class="d-flex flex-column justify-content-center align-items-center">
                            <span>{{ $index + 1 }}</span>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center gap-2">
                            <img loading="lazy" [src]="user?.userImage" width="50" class="rounded" [alt]="user?.userName" />
                            <div class="text-start">
                              <h6 class="m-0 text-start">{{ user?.userName }}</h6>
                              <span class="fw-bold main-color">{{ user?.department }}</span>
                            </div>
                          </div>
                        </td>
                        <td>{{ user?.userPhone }}</td>
                        <td>{{ user?.userEmail }}</td>
                        <td></td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        } @else {
          <div class="col-md-6">
            <h4>English Attendess</h4>
            <div class="text-center">
              <h3 class="text-center mt-3 mx-auto">No Users Attendees</h3>
            </div>
          </div>
        }



      </div>
    </div>


  </div>
</section>


<!-- Modal View -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">More Informations</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-md-4">
            <span>Your Photo</span>
            <div class="images-view">
              <img loading="lazy" [src]="bookDataById?.userImage" alt="User Image">
            </div>
          </div>

          <div class="col-md-4">
            @if(bookDataById?.payOneImage){
              <span>First Transaction Image</span>
              <div class="images">
                <img loading="lazy" [src]="bookDataById?.payOneImage" alt="First Transaction">
              </div>
            }
          </div>

          @if(bookDataById?.payTwoImage){
            <div class="col-md-4">
              <span>Second Transaction Image</span>
              <div class="images">
                <img loading="lazy" [src]="bookDataById?.payTwoImage" alt="Second Transaction">
              </div>
            </div>
          }


          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover align-middle text-center">
                <thead class="table-light">
                  <tr>
                    <th (click)="sort('payOneAmount')" class="sortable">
                      <div class="d-flex justify-content-center align-items-center">
                        <span>First Paid</span>
                        <span class="sort-icons">
                          <i
                            class="fa-solid fa-caret-up"
                            [class.active]="sortColumn === 'payOneAmount' && sortDirection === 'asc'"
                          ></i>
                          <i
                            class="fa-solid fa-caret-down"
                            [class.active]="sortColumn === 'payOneAmount' && sortDirection === 'desc'"
                          ></i>
                        </span>
                      </div>
                    </th>

                    <th (click)="sort('payTwoAmount')" class="sortable">
                      <div class="d-flex justify-content-center align-items-center">
                        <span>Second Paid</span>
                        <span class="sort-icons">
                          <i
                            class="fa-solid fa-caret-up"
                            [class.active]="sortColumn === 'payTwoAmount' && sortDirection === 'asc'"
                          ></i>
                          <i
                            class="fa-solid fa-caret-down"
                            [class.active]="sortColumn === 'payTwoAmount' && sortDirection === 'desc'"
                          ></i>
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    @if(bookDataById?.createdAtOne){
                      <td>
                        <span>Pay: {{bookDataById?.payOneAmount | number}} EGP</span> <br>
                        <span>Tax (2%): {{ getTax(bookDataById?.payOneAmount) | number:'1.0-2' }} EGP</span> <br>
                        <span>Final: {{ getFinal(bookDataById?.payOneAmount) | number }} EGP</span> <br>
                        <span> Reference: {{bookDataById?.payOneRef || '-'}} </span> <br>
                        <span> Date: {{bookDataById?.createdAtOne.toDate() | date:"medium"}}</span>
                      </td>
                    }


                      @if(bookDataById?.createdAtTwo){
                        <td>
                          <span>Pay: {{bookDataById?.payTwoAmount | number}} EGP</span> <br>
                          <span>Tax (2%): {{ getTax(bookDataById?.payTwoAmount) | number:'1.0-2' }} EGP</span> <br>
                          <span>Final: {{ getFinal(bookDataById?.payTwoAmount) | number }} EGP</span> <br>
                          <span> Reference: {{bookDataById?.payTwoRef}} </span> <br>
                          <span> Date: {{bookDataById?.createdAtTwo.toDate() | date:"medium"}}</span>
                        </td>
                      }

                    </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pay One -->
<div class="modal fade" id="exampleModal-Check-One" tabindex="-1" aria-labelledby="exampleModal-Check-OneLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        @if(!bookDataById?.payOneAmount){
          <h1 class="modal-title fs-5" id="exampleModal-Check-OneLabel">Check Pay One</h1>
        } @else if(!bookDataById?.payTwoAmount){
          <h1 class="modal-title fs-5" id="exampleModal-Check-OneLabel">Check Pay Two</h1>
        } @else{
          <h1 class="modal-title fs-5" id="exampleModal-Check-OneLabel">Paid Check</h1>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal Check One -->
        @if(!bookDataById?.payOneAmount){
          <div class="row g-3">
            <div class="col-12">
              <div class="checkOne">
                <small>User Amount Paid</small>
                <input [(ngModel)]="firstPaidAmount" min="0" class="form-control" type="number" name="checkOne" id="checkOne" placeholder="Enter User Amount Paid EGP...">
              </div>

              <div class="text-center mt-2">
                <button class="btn main-btn w-100" (click)="firstPaidCheck()">
                  Submit
                </button>
              </div>
          </div>
            <div class="col-12">
              <span>First Transaction Image</span>
              @if(bookDataById?.payOneImage){
                <div class="images">
                  <img loading="lazy" [src]="bookDataById?.payOneImage" alt="First Transaction">
                </div>
              }
            </div>
          </div>
        } @else if(!bookDataById?.payTwoAmount){
          <div class="row g-3">
            <div class="col-12">
              <div class="checkOne">
                <small>User Amount Paid</small>
                <input [(ngModel)]="firstPaidAmount" min="0" class="form-control" type="number" name="checkOne" id="checkOne" placeholder="Enter User Amount Paid EGP...">
              </div>

              <div class="text-center mt-2">
                <button class="btn main-btn w-100" (click)="firstPaidCheck()">
                  Submit
                </button>
              </div>
          </div>
            <div class="col-12">
              <span>Second Transaction Image</span>
              @if(bookDataById?.payTwoImage){
                <div class="images">
                  <img loading="lazy" [src]="bookDataById?.payOneImage" alt="First Transaction">
                </div>
              }
            </div>
          </div>
        } @else{
          <h2 class="text-center text-success fw-bold">Paid Successfully</h2>
        }


      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
