<section class="user-events" id="user-events">
  <div class="container-fluid py-3">
    <div class="bg-white rounded-3 p-3 shadow-lg">

      <!-- ===================== Add Department when forget add departments ===================== -->
      <!-- <button class="btn main-btn" (click)="updateDepartments()">Update Deparemtents</button> -->

      <!-- ===================== STATS ===================== -->
      <div class="row g-2">
        <!-- Total Graduates -->
        <div class="col-md-4 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <h4 class="card-title mb-2">Total Graduates</h4>
                  <p class="text-muted fw-medium fs-22 mb-0">{{ eventData?.bookingCount || 0 | number }} Graduates</p>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-graduation-cap-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Total Visitors -->
        <div class="col-md-4 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between gap-5">
                <div class="flex-grow-1">
                  <h4 class="card-title mb-2">Total Visitors</h4>
                  <div class="w-100 d-flex justify-content-between align-items-center flex-wrap">
                    <p class="text-muted fw-medium fs-22 mb-0">{{ totalOutComerCount || 0 | number }} Outcomers</p>
                    <div>
                      <span class="fw-bold main-color">{{totalDefaultVisitorCount || 0 | number }} Defualt</span>
                      <span class="fw-bold main-color"> - </span>
                      <span class="fw-bold main-color">{{totalVisitorCount || 0 | number }} New</span>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-user-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Total Tax -->
        <div class="col-md-4 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <h4 class="card-title mb-2">Total Taxes</h4>
                  <p class="text-muted fw-medium fs-22 mb-0">{{ totalTaxes || 0 | number }} EGP</p>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Total Deposits -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <h4 class="card-title mb-2">Total Deposits</h4>
                  <p class="text-muted fw-medium fs-22 mb-0">{{ totalPayOne || 0 | number }} EGP</p>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Total Final Payment -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <h4 class="card-title mb-2">Total Final Payment</h4>
                  <p class="text-muted fw-medium fs-22 mb-0">{{ totalPayTwo || 0 | number }} EGP</p>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Total Outcomers Amount -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <h4 class="card-title mb-2">Outcomers Amount</h4>
                  <p class="text-muted fw-medium fs-22 mb-0">{{ totalNewOutcomersPrice || 0 | number }} EGP</p>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Total Amount -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <h4 class="card-title mb-2">Total Amount</h4>
                  <p class="text-muted fw-medium fs-22 mb-0">{{ totalRevenue + totalNewOutcomersPrice || 0 | number }} EGP</p>
                </div>
                <div>
                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                    <i class="fs-32 main-color avatar-title ri-money-pound-circle-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

      <!-- ===================== HEADER ===================== -->
      <div>
        <h1 class="fw-bold">All Attendess</h1>
        <h4 class="main-color fw-bold">{{ eventData?.EventName }}</h4>
      </div>

      <!-- ===================== SEARCH + EXPORT ===================== -->
      <div id="head-table" class="head-table d-flex gap-2 flex-wrap justify-content-between align-items-center mb-3">
        <div class="search">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="searchText"
            (input)="applySearch()"
          />
        </div>
        @if(eventData?.ownerPayment || role == 'Admin'){
          <div class="download d-flex flex-wrap align-items-center gap-2">
            <button class="btn btn-outline-primary" (click)="downloadAll()">All <i class="fa-solid fa-file-csv"></i></button>
            @if(eventData?.id == 'uvoo0zHQzwK1efCTBynh'){
              <button class="btn btn-outline-primary" (click)="downloadStudentIDs()">Students IDs <i class="fa-solid fa-file-csv"></i></button>
            }
            <button class="btn btn-outline-primary" (click)="downloadAllDepartments()">Departments <i class="fa-solid fa-file-csv"></i></button>
            <button class="btn btn-outline-primary" (click)="downloadDepartmentsWithSeatNumber()">Seat No. <i class="fa-solid fa-file-csv"></i></button>
            <button class="btn btn-outline-primary" (click)="downloadShieldSheet()">Shield & Intro<i class="fa-solid fa-file-csv"></i></button>
            <button class="btn btn-outline-primary" (click)="downloadScarfNames()">Scarf Name <i class="fa-solid fa-file-csv"></i></button>
            <button class="btn btn-outline-primary" (click)="downloadAllDepartmentsSorted('arabic')">Sort AR <i class="fa-solid fa-file-csv"></i></button>
            <button class="btn btn-outline-primary" (click)="downloadAllDepartmentsSorted('english')">Sort EN <i class="fa-solid fa-file-csv"></i></button>
            <button class="btn btn-outline-primary" (click)="downloadAllImages()">All Images <i class="fa-solid fa-file-csv"></i></button>
            @if(role == 'Admin'){
              <button class="btn btn-outline-primary" (click)="complateSeatNumber()">Send Seat Numbers <i class="fa-solid fa-chair"></i></button>
            }

          </div>
        }
      </div>

      @if(this.unCheckedAttendess.length){
        <div class="my-4">
          <h2 class="text-danger fw-bold">UnChecked Payment</h2>
          <div class="table-responsive">
            <table class="table table-hover align-middle text-center">
              <thead class="table-light">
                <tr>
                  <th (click)="sort('id')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>ID</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>

                  <th (click)="sort('userName')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Name</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'userName' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'userName' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>

                  <th (click)="sort('userPhone')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Phone</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'userPhone' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'userPhone' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>

                  <th (click)="sort('userEmail')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Email</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'userEmail' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'userEmail' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>

                  @if(hasDepartmentColumn){
                    <th (click)="sort('department')" class="sortable">
                      <div class="d-flex justify-content-center align-items-center">
                        <span>Department</span>
                        <span class="sort-icons">
                          <i
                            class="fa-solid fa-caret-up"
                            [class.active]="sortColumn === 'department' && sortDirection === 'asc'"
                          ></i>
                          <i
                            class="fa-solid fa-caret-down"
                            [class.active]="sortColumn === 'department' && sortDirection === 'desc'"
                          ></i>
                        </span>
                      </div>
                    </th>

                  }

                  @if(hasStudentsColumn){
                    <th (click)="sort('studentsIDs')" class="sortable">
                      <div class="d-flex justify-content-center align-items-center">
                        <span>Students ID</span>
                        <span class="sort-icons">
                          <i
                            class="fa-solid fa-caret-up"
                            [class.active]="sortColumn === 'studentsIDs' && sortDirection === 'asc'"
                          ></i>
                          <i
                            class="fa-solid fa-caret-down"
                            [class.active]="sortColumn === 'studentsIDs' && sortDirection === 'desc'"
                          ></i>
                        </span>
                      </div>
                    </th>
                  }

                  <th (click)="sort('VisitorCount')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Visitors</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'VisitorCount' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'VisitorCount' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>

                  <th (click)="sort('totalAmount')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Total Price</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'totalAmount' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'totalAmount' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>


                  <th (click)="sort('status')" class="sortable">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Status</span>
                      <span class="sort-icons">
                        <i
                          class="fa-solid fa-caret-up"
                          [class.active]="sortColumn === 'status' && sortDirection === 'asc'"
                        ></i>
                        <i
                          class="fa-solid fa-caret-down"
                          [class.active]="sortColumn === 'status' && sortDirection === 'desc'"
                        ></i>
                      </span>
                    </div>
                  </th>

                  <th>
                    <div class="d-flex justify-content-center align-items-center">
                      <span>Action</span>
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                @for (user of unCheckedAttendess; track $index) {
                  <tr>
                    <td>
                      <div class="d-flex flex-column justify-content-center align-items-center" [ngClass]="{'bg-danger text-white': user?.createdAtTwo && !user?.payTwoAmount }">
                        <span>
                          {{
                            $index + 1 + ((page - 1) * pageSize)
                          }}
                        </span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center gap-2">
                        <img loading="lazy" [src]="user?.userImage" width="50" class="rounded" [alt]="user?.userName" />
                        <h6 class="m-0">{{ user?.userName }}</h6>
                      </div>
                    </td>
                    <td>
                      <a [href]="'https://wa.me/20' + user?.userPhone?.substring(1)" target="_blank" >
                        {{ user?.userPhone }}
                      </a>
                    </td>
                    <td>
                      {{ user?.userEmail }}
                    </td>

                    @if(hasDepartmentColumn){
                      <td>{{ user?.department }}</td>
                    }

                    @if(hasStudentsColumn){
                      <td>{{ user?.studentsIDs }}</td>
                    }

                    <td>{{ user?.VisitorCount + user?.defaultVisitorCount }} Visitors</td>
                    <td>
                      <span>
                        Total: {{ user?.totalAmount | number }} EGP
                      </span>
                      <br>

                      <span>
                        Tax (2%):
                        {{ getTax(user?.totalAmount) | number:'1.0-2' }} EGP
                      </span>
                      <br>

                      <span class="fw-bold">
                        Final:
                        {{ getFinal(user?.totalAmount) | number }} EGP
                      </span>
                    </td>
                    <td>
                      <span
                        class="badge"
                        [ngClass]="{
                          'bg-success': user?.status === 'Paid',
                          'bg-primary': user?.status === 'Par-Paid',
                          'bg-danger': user?.status === 'Pending'
                        }"
                      >
                        {{ user?.status }}
                      </span>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center gap-2">
                        @if(role == 'Admin'){
                          <span class="confirm-depoist-email email-icon" (click)="sendConfirmEmail(user?.userEmail, eventData?.EventName, user?.userName)">
                            <i class="fa-solid fa-envelope cr"></i>
                          </span>
                          <span class="confirm-booking-email email-icon" (click)="sendFinalConfirmEmail(user?.userEmail, eventData?.EventName, user?.userName)">
                            <i class="fa-solid fa-envelope cr"></i>
                          </span>
                          <i class="fa-regular fa-trash-can text-danger cr" (click)="deleteBooking(user)"></i>
                        }

                        <i class="fa-solid fa-circle-info cr" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getBookById(user?.id)"></i>

                        @if(!user?.payOneAmount){
                          <i class="fa-solid fa-paper-plane cr" data-bs-toggle="modal" data-bs-target="#exampleModal-Check-One" (click)="getBookById(user?.id)"></i>
                        }

                        @if(user?.payOneAmount && !user?.payTwoAmount){
                          <i class="fa-solid fa-paper-plane cr" data-bs-toggle="modal" data-bs-target="#exampleModal-Check-One" (click)="getBookById(user?.id)"></i>
                        }

                        @if(user?.payTwoAmount && user?.payOneAmount){
                          <i class="fa-solid fa-check-double text-success"></i>
                          <i class="fa-solid fa-arrows-down-to-people cr" (click)="goToAttendeesDetails(user?.id)"></i>
                        }
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

          <hr>
          <hr>
          <hr>
        </div>

      }

      <!-- ===================== TABLE All Attendess ===================== -->
      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-light">
            <tr>
              <th (click)="sort('id')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>ID</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('userName')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Name</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'userName' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'userName' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('userPhone')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Phone</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'userPhone' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'userPhone' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('userEmail')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Email</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'userEmail' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'userEmail' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              @if(hasDepartmentColumn){
                <th (click)="sort('department')" class="sortable">
                  <div class="d-flex justify-content-center align-items-center">
                    <span>Department</span>
                    <span class="sort-icons">
                      <i
                        class="fa-solid fa-caret-up"
                        [class.active]="sortColumn === 'department' && sortDirection === 'asc'"
                      ></i>
                      <i
                        class="fa-solid fa-caret-down"
                        [class.active]="sortColumn === 'department' && sortDirection === 'desc'"
                      ></i>
                    </span>
                  </div>
                </th>

              }

              @if(hasStudentsColumn){
                <th (click)="sort('studentsIDs')" class="sortable">
                  <div class="d-flex justify-content-center align-items-center">
                    <span>Students ID</span>
                    <span class="sort-icons">
                      <i
                        class="fa-solid fa-caret-up"
                        [class.active]="sortColumn === 'studentsIDs' && sortDirection === 'asc'"
                      ></i>
                      <i
                        class="fa-solid fa-caret-down"
                        [class.active]="sortColumn === 'studentsIDs' && sortDirection === 'desc'"
                      ></i>
                    </span>
                  </div>
                </th>
              }

              <th (click)="sort('VisitorCount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Visitors</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'VisitorCount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'VisitorCount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('totalAmount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Total Price</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>


              <th (click)="sort('status')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Status</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'status' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'status' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th>
                <div class="d-flex justify-content-center align-items-center">
                  <span>Action</span>
                </div>
              </th>
            </tr>
          </thead>

          <tbody>
            @for (user of paginatedData; track $index) {
              <tr>
                <td>
                  <div class="d-flex flex-column justify-content-center align-items-center" [ngClass]="{'bg-danger text-white': user?.createdAtTwo && !user?.payTwoAmount }">
                    <span>
                      {{
                        $index + 1 + ((page - 1) * pageSize)
                      }}
                    </span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <img loading="lazy" [src]="user?.userImage" width="50" class="rounded" [alt]="user?.userName" />
                    <h6 class="m-0">{{ user?.userName }}</h6>
                  </div>
                </td>
                <td>
                  <a [href]="'https://wa.me/20' + user?.userPhone?.substring(1)" target="_blank" >
                    {{ user?.userPhone }}
                  </a>
                </td>
                <td>
                  {{ user?.userEmail }}
                </td>

                @if(hasDepartmentColumn){
                  <td>{{ user?.department }}</td>
                }

                @if(hasStudentsColumn){
                  <td>{{ user?.studentsIDs }}</td>
                }

                <td>{{ user?.VisitorCount + user?.defaultVisitorCount }} Visitors</td>
                <td>
                  <span>
                    Total: {{ user?.totalAmount | number }} EGP
                  </span>
                  <br>

                  <span>
                    Tax (2%):
                    {{ getTax(user?.totalAmount) | number:'1.0-2' }} EGP
                  </span>
                  <br>

                  <span class="fw-bold">
                    Final:
                    {{ getFinal(user?.totalAmount) | number }} EGP
                  </span>
                </td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-success': user?.status === 'Paid',
                      'bg-primary': user?.status === 'Par-Paid',
                      'bg-danger': user?.status === 'Pending'
                    }"
                  >
                    {{ user?.status }}
                  </span>
                </td>
                <td>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    @if(role == 'Admin'){
                      <span class="confirm-depoist-email email-icon" (click)="sendConfirmEmail(user?.userEmail, eventData?.EventName, user?.userName)">
                        <i class="fa-solid fa-envelope cr"></i>
                      </span>
                      <span class="confirm-booking-email email-icon" (click)="sendFinalConfirmEmail(user?.userEmail, eventData?.EventName, user?.userName)">
                        <i class="fa-solid fa-envelope cr"></i>
                      </span>
                      <i class="fa-regular fa-trash-can text-danger cr" (click)="deleteBooking(user)"></i>
                    }

                    <i class="fa-solid fa-circle-info cr" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getBookById(user?.id)"></i>

                    @if(!user?.payOneAmount){
                      <i class="fa-solid fa-paper-plane cr" data-bs-toggle="modal" data-bs-target="#exampleModal-Check-One" (click)="getBookById(user?.id)"></i>
                    }

                    @if(user?.payOneAmount && !user?.payTwoAmount){
                      <i class="fa-solid fa-paper-plane cr" data-bs-toggle="modal" data-bs-target="#exampleModal-Check-One" (click)="getBookById(user?.id)"></i>
                    }

                    @if(user?.payTwoAmount && user?.payOneAmount){
                      <i class="fa-solid fa-check-double text-success"></i>
                      <i class="fa-solid fa-arrows-down-to-people cr" (click)="goToAttendeesDetails(user?.id)"></i>
                    }
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-- ===================== MAIN PAGINATION ===================== -->
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item cr" [class.disabled]="page === 1">
          <a class="page-link" (click)="changePage(page - 1)">Prev</a>
        </li>

        @for (p of totalPages; track $index) {
          <li class="page-item cr" [class.active]="p === page">
            <a class="page-link" (click)="changePage(p)">{{ p }}</a>
          </li>
        }

        <li class="page-item cr" [class.disabled]="page === totalPages.length">
          <a class="page-link" (click)="changePage(page + 1)">Next</a>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-1">
        <label for="pagesize">Change Page Size :</label>
        <select class="form-control w-25" id="pagesize" [(ngModel)]="pageSize" (change)="updatePagination()">
          <option [value]="10">10</option>
          <option [value]="15">15</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
      </div>
    </div>

    <!-- ===================== TABLE DPARTMENTS ===================== -->
    @if(hasDepartmentColumn){
      <div class="sub-main-tables bg-white rounded-3 p-3 shadow-lg mt-4">
        <div class="row g-3">
            @for (dept of eventData.departments; track $index) {
              <div class="col-md-6">
                @if (groupedByDepartment[dept]?.length) {

                  <!-- ===================== TABLES ===================== -->
                  <div class="department-table">
                    <h4>{{ dept }} Attendees</h4>

                    <div class="table-responsive">
                      <table class="table table-hover align-middle text-center">

                        <thead class="table-light">
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            @if(hasStudentsColumn){
                              <th>Students ID</th>
                            }
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Status</th>
                          </tr>
                        </thead>

                        <tbody>
                          @for (user of getPaginatedDepartment(dept); track $index) {
                            <tr>

                              <!-- index -->
                            <td>
                              {{
                                ($index + 1) +
                                (((departmentPages[dept] || 1) - 1) * itemsPerPage)
                              }}
                            </td>

                              <!-- user -->
                              <td>
                                <div class="d-flex align-items-center gap-2">
                                  <img [src]="user?.userImage" width="50" class="rounded" />
                                  <div class="text-start">
                                    <h6 class="m-0">{{ user?.userName }}</h6>
                                    <span class="fw-bold main-color">{{ user?.department }}</span>
                                  </div>
                                </div>
                              </td>

                              <td>{{ user?.userPhone }}</td>
                              <td>{{ user?.userEmail }}</td>

                              @if(hasStudentsColumn){
                                <td>{{ user?.studentsIDs }}</td>
                              }

                              <td>
                                <span
                                  class="badge"
                                  [ngClass]="{
                                    'bg-success': user?.status === 'Paid',
                                    'bg-primary': user?.status === 'Par-Paid',
                                    'bg-danger': user?.status === 'Pending'
                                  }"
                                >
                                  {{ user?.status }}
                                </span>
                              </td>

                            </tr>
                          }
                        </tbody>

                      </table>
                    </div>

                    <!-- ===================== Pagination ===================== -->
                    <ul class="pagination justify-content-center flex-wrap">

                      <!-- ===================== Prev ===================== -->
                      <li class="page-item cr"
                          [class.disabled]="(departmentPages[dept] || 1) === 1">
                        <a class="page-link"
                          (click)="changeDepartmentPage(dept, (departmentPages[dept] || 1) - 1)">
                          Prev
                        </a>
                      </li>

                      <!-- ===================== Pages ===================== -->
                      @for (p of getTotalPages(dept); track $index) {
                        <li class="page-item cr"
                            [class.active]="p === (departmentPages[dept] || 1)">
                          <a class="page-link"
                            (click)="changeDepartmentPage(dept, p)">
                            {{ p }}
                          </a>
                        </li>
                      }

                      <!-- Next -->
                      <li class="page-item cr"
                          [class.disabled]="(departmentPages[dept] || 1) === getTotalPages(dept).length">
                        <a class="page-link"
                          (click)="changeDepartmentPage(dept, (departmentPages[dept] || 1) + 1)">
                          Next
                        </a>
                      </li>

                    </ul>

                  </div>

                } @else {
                  <h3>({{ dept }}) - No Attendess</h3>
                }
              </div>
            }

        </div>
      </div>
    }

  </div>
</section>


<!-- Modal View -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">More Informations</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-md-4">
            <span>Your Photo</span>
            <div class="images-view">
              <img loading="lazy" [src]="bookDataById?.userImage" alt="User Image">
            </div>
          </div>

          <div class="col-md-4">
            @if(bookDataById?.payOneImage){
              <span>First Transaction Image</span>
              <div class="images">
                <img loading="lazy" [src]="bookDataById?.payOneImage" alt="First Transaction">
              </div>
            }
          </div>

          @if(bookDataById?.payTwoImage){
            <div class="col-md-4">
              <span>Second Transaction Image</span>
              <div class="images">
                <img loading="lazy" [src]="bookDataById?.payTwoImage" alt="Second Transaction">
              </div>
            </div>
          }


          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover align-middle text-center">
                <thead class="table-light">
                  <tr>
                    <th (click)="sort('payOneAmount')" class="sortable">
                      <div class="d-flex justify-content-center align-items-center">
                        <span>First Paid</span>
                        <span class="sort-icons">
                          <i
                            class="fa-solid fa-caret-up"
                            [class.active]="sortColumn === 'payOneAmount' && sortDirection === 'asc'"
                          ></i>
                          <i
                            class="fa-solid fa-caret-down"
                            [class.active]="sortColumn === 'payOneAmount' && sortDirection === 'desc'"
                          ></i>
                        </span>
                      </div>
                    </th>

                    <th (click)="sort('payTwoAmount')" class="sortable">
                      <div class="d-flex justify-content-center align-items-center">
                        <span>Second Paid</span>
                        <span class="sort-icons">
                          <i
                            class="fa-solid fa-caret-up"
                            [class.active]="sortColumn === 'payTwoAmount' && sortDirection === 'asc'"
                          ></i>
                          <i
                            class="fa-solid fa-caret-down"
                            [class.active]="sortColumn === 'payTwoAmount' && sortDirection === 'desc'"
                          ></i>
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    @if(bookDataById?.createdAtOne){
                      <td>
                        <span>Pay: {{bookDataById?.payOneAmount | number}} EGP</span> <br>
                        <span>Tax (2%): {{ getTax(bookDataById?.payOneAmount) | number:'1.0-2' }} EGP</span> <br>
                        <span>Final: {{ getFinal(bookDataById?.payOneAmount) | number }} EGP</span> <br>
                        <span> Reference: {{bookDataById?.payOneRef || '-'}} </span> <br>
                        <span> Date: {{bookDataById?.createdAtOne.toDate() | date:"medium"}}</span>
                      </td>
                    }


                      @if(bookDataById?.createdAtTwo){
                        <td>
                          <span>Pay: {{bookDataById?.payTwoAmount | number}} EGP</span> <br>
                          <span>Tax (2%): {{ getTax(bookDataById?.payTwoAmount) | number:'1.0-2' }} EGP</span> <br>
                          <span>Final: {{ getFinal(bookDataById?.payTwoAmount) | number }} EGP</span> <br>
                          <span> Reference: {{bookDataById?.payTwoRef}} </span> <br>
                          <span> Date: {{bookDataById?.createdAtTwo.toDate() | date:"medium"}}</span>
                        </td>
                      }

                    </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pay One -->
<div class="modal fade" id="exampleModal-Check-One" tabindex="-1" aria-labelledby="exampleModal-Check-OneLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        @if(!bookDataById?.payOneAmount){
          <h1 class="modal-title fs-5" id="exampleModal-Check-OneLabel">Check Pay One</h1>
        } @else if(!bookDataById?.payTwoAmount){
          <h1 class="modal-title fs-5" id="exampleModal-Check-OneLabel">Check Pay Two</h1>
        } @else{
          <h1 class="modal-title fs-5" id="exampleModal-Check-OneLabel">Paid Check</h1>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal Check One -->
        @if(!bookDataById?.payOneAmount){
          <div class="row g-3">
            <div class="col-12">
              <div class="checkOne">
                <small>User Amount Paid</small>
                <input [(ngModel)]="paidAmount" min="0" class="form-control" type="number" name="checkOne" id="checkOne" placeholder="Enter User Amount Paid EGP...">
              </div>

              <div class="text-center mt-2">
                <button class="btn main-btn w-100" (click)="paidCheck()">
                  Submit
                </button>
              </div>
          </div>
            <div class="col-12">
              <span>First Transaction Image</span>
              @if(bookDataById?.payOneImage){
                <div class="images">
                  <img loading="lazy" [src]="bookDataById?.payOneImage" alt="First Transaction">
                </div>
              }
            </div>
          </div>
        } @else if(!bookDataById?.payTwoAmount){
          <div class="row g-3">
            <div class="col-12">
              <h3 class="main-color text-center">Remaining Amount : <br> <span class="fw-bold">{{bookDataById?.totalReq}} EGP</span> </h3>

              <div class="checkOne">
                <small>User Amount Paid</small>
                <input [(ngModel)]="paidAmount" min="0" class="form-control" type="number" name="checkOne" id="checkOne" placeholder="Enter User Amount Paid EGP...">
              </div>

              <div class="text-center mt-2">
                <span class="text-danger fw-bold">{{MsgErr}}</span>
              </div>

              <div class="text-center mt-2">
                <button class="btn main-btn w-100" [disabled]='paidAmount != bookDataById?.totalReq' (click)="paidCheck()">
                  Submit
                </button>
              </div>
          </div>
            <div class="col-12">
              <span>Second Transaction Image</span>
              @if(bookDataById?.payTwoImage){
                <div class="images">
                  <img loading="lazy" [src]="bookDataById?.payTwoImage" alt="First Transaction">
                </div>
              }
            </div>
          </div>
        } @else{
          <h2 class="text-center text-success fw-bold">Paid Successfully</h2>
        }


      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
