<section class="user-events" id="user-events">
  <div class="container-fluid py-3">
    <div class="bg-white rounded-3 p-3 shadow-lg">
      <h1 class="fw-bold">All {{title}}</h1>
      <div class="head-table d-flex gap-2 flex-wrap justify-content-between align-items-center mb-3">
        <!-- Search -->
        <div class="search">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="searchText"
            (input)="applySearch()"
          />
        </div>

        <!-- Download Table XSL -->
        <div class="download">
          <button class="btn btn-outline-primary" (click)="downloadAllAttendees()">Download   <i class="fa-solid fa-file-csv"></i></button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-light">
            <tr>
              <th (click)="sort('id')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>ID</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'id' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'id' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('fullName')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Name</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'fullName' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'fullName' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('phone')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Phone</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'phone' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'phone' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('email')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Email</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'email' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'email' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('faculty')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Faculty</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'faculty' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'faculty' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('department')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Department</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'department' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'department' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('year')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Year</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'year' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'year' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('companions')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Companions</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'companions' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'companions' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('totalAmount')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Total Price</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'totalAmount' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

               <th (click)="sort('attendance')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Attendance</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'attendance' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'attendance' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <th (click)="sort('active')" class="sortable">
                <div class="d-flex justify-content-center align-items-center">
                  <span>Status</span>
                  <span class="sort-icons">
                    <i
                      class="fa-solid fa-caret-up"
                      [class.active]="sortColumn === 'active' && sortDirection === 'asc'"
                    ></i>
                    <i
                      class="fa-solid fa-caret-down"
                      [class.active]="sortColumn === 'active' && sortDirection === 'desc'"
                    ></i>
                  </span>
                </div>
              </th>

              <!-- <th>
                <div class="d-flex justify-content-center align-items-center">
                  <span>Action</span>
                </div>
              </th> -->
            </tr>
          </thead>

          <tbody>
            @for (grad of paginatedData; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>
                  <div class="d-flex align-items-center gap-2">
                    <img [src]="grad.photoUrl" width="50" class="rounded" />
                    <h6 class="m-0">{{ grad.fullName }}</h6>
                  </div>
                </td>
                <td>{{ grad.phone }}</td>
                <td>{{ grad.email }}</td>
                <td>{{ grad.faculty }}</td>
                <td>{{ grad.department }}</td>
                <td>{{ grad.year }}</td>
                <td>{{ grad.companions }}</td>
                <td>{{ grad.totalPrice }}</td>
                <td>
                  <span
                    class="badge"
                    [class.bg-success]="grad.attendance === 'Active'"
                    [class.bg-danger]="grad.attendance !== 'Active'"
                  >
                    {{ grad.attendance }}
                  </span>
                </td>

                 <td>
                  <span
                    class="badge"
                    [class.bg-success]="grad.status === 'Active'"
                    [class.bg-danger]="grad.status !== 'Active'"
                  >
                    {{ grad.status }}
                  </span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="changePage(page - 1)">Prev</a>
        </li>

        @for (p of totalPages; track $index) {
          <li class="page-item" [class.active]="p === page">
            <a class="page-link" (click)="changePage(p)">{{ p }}</a>
          </li>
        }

        <li class="page-item" [class.disabled]="page === totalPages.length">
          <a class="page-link" (click)="changePage(page + 1)">Next</a>
        </li>
      </ul>
    </div>

  </div>
</section>
