@import "../../../../../../public/assets/scss/varibales";
.email-icon{
  position: relative;
  &.confirm-booking-email::before, &.confirm-depoist-email::before{
    position: absolute;
    top: -5px;
    left: -3px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    background-color: $main-color;
    color: #fff;
  }
  &.confirm-depoist-email::before{
    content: '1';
  }
  &.confirm-booking-email::before{
    content: '2';
  }
}

.user-events{
  min-height: 100vh;
}

.sortable {
  cursor: pointer;
  user-select: none;
}

.sort-icons {
  display: inline-flex;
  flex-direction: column;
  margin-left: 6px;
  font-size: 8px;
  color: #ccc;
}

.sort-icons i.active {
  color: $main-color;
}
.search{
  width: 350px;
  border: 2px solid $main-color;
  .icon-search{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $main-color;
    font-size: 18px;
  }
  @media (max-width:400px) {
    width: 100%;
  }
}
.btn-send-qr{
  padding: 0;
  padding-inline: 2px;
}
.modal-body{
  .images{
    width: 50%;
    margin: 0 auto;
  }
  img{
    width: 100%;
  }
}

.fees-section{
  font-size: 12px;
}
